body {
  background-color: #EBFDFF;
}
li {
  display: inline;
  margin: 13px;
  font-weight: 550;
}

.menu:hover {
  color: #BCBCBC;
  transition: 0.7s;
}

ul {
    text-align: right;
    margin: 40px;
}

a {
  color: #474747;
  text-decoration: none;
}

* {
  font-family: Arial;
}

#baner {
   height: 40%;
   width: 100%;
}

footer {
  text-align: center;
  background-color: #86F8FC;
  padding: 35px;
  border-radius: 7px;
  font-size: 20px;
  color: gray;
  margin-top: 15px;
}

#form {
  display: block;
  margin: auto;
  border: 8px dashed #A8EEF6;
  border-radius: 20px;
  height: 1000px;
  width: 70%;
}
#baner-contact {
  height: 40%;
  width: 100%;
  margin-bottom: 20px;
}

.article-principal {

}

#section-principal {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
}

#div {
  width: 3px;
  height: 40px;
  background-color: gray;
}

h1 {
  height: 30px;
  text-align: center;
  color: gray;
}
